.container {
    width: 378px;
    height: 98px;
    font-size: 40px;
    line-height: 80px;
    background: rgba(255, 255, 255, 0.6);
    color: #0054A6;
    text-align: center;
    margin: 48px 0;
    padding: 2px 0;
    border: 2px white solid;
}