.formTwoColumn {
    margin-top: 50px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.form {
    width: 100%;
}

.error {
    color: red;
}

.quill {
    // height: 500px;
    width: 100%;
}

.container {
    width: 100%;
}