.formTwoColumn {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form {
    width: 100%;
}

.error {
    color: red;
}

.quill {
    height: 500px;
    width: 100%;
}