.container {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
}

.right {
    column-gap: 16px;

    .datePicker {
        height: 40px;
        width: 322px;
    }
}

.search {
    display: flex;
    background-color: white;
    border-radius: 6px;
    width: 314px;
    height: 40px;

    button {
        background-color: white;
        border: none;
        padding: 8px 1.5px 8px 16px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    input {
        border: none;
        width: 100%;
        border-radius: 0px 6px 6px 0px;
    }
}