@import "../../../../variable";

.label {
    color: $primary-500;
    font-weight: 600;
    size: 18px;
    line-height: 21.09px;
    margin-bottom: 8px;
}

.datePicker {
    width: 322px;
    height: 40px;
    border: none;
}