@import "../../../../../variable";

.tag {
    padding: 8px 12px;
    background-color: $primary-50;
    color: $primary-500;
    margin-right: 8px;
    border-radius: 46px;
    display: inline-block;
    margin-bottom: 8px;
}