@import "../../../../variable";

.item {
    display: grid;
    row-gap: 0px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.itemImage {
    border-radius: 8px 8px 0 0;
}

.itemText {
    padding: 12px 12px 10px 12px;
    display: grid;
    row-gap: 8px;
}

.itemTitle {
    color: $primary-500;
    font-size: 16px;
    font-weight: bold;
    line-height: 18.75px;
}

.description {
    color: $gray-500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
}

.itemTextDescription {
    color: $gray-400;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
}

.containerTag {
    display: inline-block;
}