.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.content-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grow1 {
  flex-grow: 1;
}