.container {
    width: 1520px;
}

.bg {
    display: flex;
    justify-content: center;
    min-height: 960px;
    background-size: 1920px 960px;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
}