@import "../../../../variable";

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: $primary-500;
    margin-bottom: 16px;
}

.container {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}